@import './shared/fonts';

// header
@import './components/header';

// pages
@import './index';

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', 'Helvetica'
}

.self-typed {
    font-size: 31px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}


.absolute {
    position: absolute;
}

.port-list {
    color: white
}