@import './shared/fonts';

// header
@import './components/header';

// pages
@import './index';
@import './portfolios';
@import './blogs';
@import './about';
@import './portfolio-detail';

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', 'Helvetica'
}

.clickable {
    cursor: pointer;
}



.self-typed {
    font-size: 31px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.base-page {
    padding-top: 200px;
    color: black;
    background-color: #ecedee;
    min-height: 100vh;

    .page-header-title {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 60px;
    }
}

.absolute {
    position: absolute;
}

.port-list {
    color: white
}